/* Global Styles Start Here */
/* @import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* font-sizes */
    --fs-h1: 4rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2rem;
    --fs-h4: 1.6rem;
    --fs-h5: 1.4rem;
    --fs-p: 1.5rem;
    /* colors */
    --clr-blue: #354fa2;
    --clr-green: #68be59;
    --clr-brown: #8c5e42;
    --clr-grey: #e0e0dc;
    --clr-gold: #ebaf20;
    --clr-black: #000000;
    --clr-white: #ffffff;
}

.container {
    min-height: 100vh;
    height: auto;
    width: 100%;
    max-width: 100vw;
    color: var(--clr-dark);
}
/* Global Styles End Here */

/* Navbar and Header Styles Start Here */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* max-width: 100vw; */
    padding-left: 3rem;
    padding-right: 3rem;
    height: 6rem;
    align-items: center;
    position: fixed;
    z-index: 8;
    background-color: var(--clr-grey);
}

/* .header.sticky {
    height: 50px;
    background: var(--clr-grey);
    transition: 0.3s ease;
    z-index: 9;
} */

.navbar ul {
    position: relative;
    display: flex;
    list-style: none;
    font-weight: 200;
    font-size: var(--fs-h5);
}

.navbar ul li a {
    text-decoration: none;
    color: var(--clr-black);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 1.5rem;
}

.navbar ul li a:hover {
    color: pink;
    transition: 0.3s ease;
}

.logo img {
    width: 75px;
    filter: invert(1);
}
/* Navbar and Header Styles End Here */

/* Hero Section Styles Start Here */
.hero.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-color: var(--clr-blue);
}

.hero-left, .hero-right {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}

.hero-left {
    flex-direction: column;
}

.hero-text {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
}

.hero-text h1 {
    font-size: 12rem;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: 'Lovers Quarrel';
    margin-top: 5rem;
    padding-left: 4rem;
}

.hero-text img {
    position: relative;
    filter: invert(1);
    width: 25%;
    margin-top: -4rem;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.hero-text h2 {
    font-size: var(--fs-h3);
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

#hero-btn {
    margin-top: 1.5rem;
    background: transparent;
    color: var(--clr-white);
    letter-spacing: 2px;
    padding: 0.9rem 1.4rem;
    border: 1px solid var(--clr-white);
    text-transform: uppercase;
    margin-top: 2rem;
}

#hero-btn:hover {
    background: var(--clr-white);
    color: purple;
    transition: 0.3s ease;
    cursor: pointer;
}

.hero-boxes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 3rem 1rem;
    background-color: var(--clr-grey);
}

.hero-right img {
    height: 600px;
    margin-top: 6rem;
}
/* Hero Section Styles End Here */

/* About Section Styles Start Here */
.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green);
}

.about-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    color: var(--clr-white);
}

.about-info h2 {
    font-size: 6rem;
    font-family: 'Lovers Quarrel', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.about-info p {
    font-size: var(--fs-p);
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 2.5rem;
}

.about-area {
    position: relative;
    width: 50vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "top top right"
        "left middle right"
        "left bottom bottom";
    grid-gap: 10px;
    padding-right: 3rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    grid-area: top;
    /* background-color: #ffffff; */
    border: 1px solid #ffffff;
}
.top img {
    height: 145px;
}
.right {
    grid-area: right;
    /* background-color: #ffffff; */
    border: 1px solid #ffffff;

}
.right img {
    height: 200px;
}
.bottom {
    grid-area: bottom;
    /* background-color: #ffffff; */
    border: 1px solid #ffffff;

}
.bottom img {
    height: 145px;
}
.left {
    grid-area: left;
    /* background-color: #ffffff; */
    border: 1px solid #ffffff;
    padding: 1rem;
}
.left img {
    height: 200px;
}
.middle {
    grid-area: middle;
    /* background-color: #ffffff; */
    border: 1px solid #ffffff;
    padding: 1rem;
}
.middle img {
    width: 100px;
}
/* About Section Styles End Here */

/* Gallery Section Styles Start Here */
.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--clr-blue);
    
}

.gallery-title h2 {
    /* font-size: var(--fs-h2); */
    font-size: 6rem;
    font-family: 'Lovers Quarrel', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    margin-top: 6rem;
}

.gallery-area {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}

.gallery-area ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    font-size: var(--fs-h5);
}

.gallery-area ul li {
    list-style: none;
    background: transparent;
    border: 1px solid var(--clr-light-gray);
    padding: 1rem 1.4rem;
    margin: 5px;
    letter-spacing: 2px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid var(--clr-grey)
}

.gallery-area ul li:hover {
    background-color: var(--clr-light-gray);
    transition: 0.3s ease;
}

.gallery-area ul li.active {
    background: var(--clr-blue);
    border: 1px solid var(--clr-gold);
    outline: none;
    color: var(--clr-white);
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects .project-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-grey);
    justify-content: center;
    align-items: center;
}

.projects .project-box.hide {
    display: none;
}

.projects .project-box img {
    position: relative;
    /* width: 150px; */
    height: 150px;
    padding-top: .5rem;
}

.project-details {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.project-details p {
    color: var(--clr-dark);
    font-size: var(--fs-h5);
    text-align: center;
    padding: 0 1rem;
}

.project-links {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.project-links a {
    text-decoration: none;
    color: var(--clr-blue);
    letter-spacing: 1px;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 .25rem;
    padding: 2px;
    border: 1px solid var(--clr-light-gray);
}

.project-links a:hover {
    background-color: var(--clr-light-gray);
    font-weight: 400;
    transition: 0.3s ease;
}
/* Gallery Section Styles End Here */

/* Testimonials Styles Start Here */
.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green);
}

.testimonials-title h2 {
    /* font-size: var(--fs-h2); */
    font-size: 6rem;
    font-family: 'Lovers Quarrel', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    letter-spacing: 2px;
    color: white;
}

/* carousel styles start here*/
.carousel-card {
    position: relative;
    width: 80%;
    /* check this overflow code  */
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  }

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey);
    height: 50vh;
}

.swiper-slide img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right: 3rem;
    border: 5px solid white;
  }

  .swiper-slide h4 {
      font-size: var(--fs-h4);
      margin-bottom: .5rem;
  }

  .swiper-slide p {
      font-size: var(--fs-p);
      letter-spacing: 1px;
  }

  .fa-quote-left, .fa-quote-right {
      font-size: 2rem;
      margin: 0 .5rem;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #ffffff;
}
  /* carousel styles end here*/

/* Testimonials Styles End Here */

/* Contact Section Styles Start Here */
.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh; 
    background-color: var(--clr-blue);
}

.contact-title {
    color: var(--clr-white);
    text-align: center;
    /* margin-bottom: 3rem; */
}
.contact-title h2 {
    font-family: 'Lovers Quarrel';
    font-weight: 200;
    font-size: var(--fs-h2);
}
.contact-title p {
    font-size: var(--fs-p);
    font-weight: 100;
    letter-spacing: 1px;
}
.contact-form form {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-bottom: 5rem;
}
.input-box {
    position: relative;
    display: inline-flex;
    width: 30%;
    /* min-width: 25vw; */
    margin: 5px 25px;
}
.input-box textarea {
    height: 100px;
}
.input-box.message {
    width: 63.75%;
}
.input-box input,
.input-box textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: var(--fs-p);
    margin: 10px 0;
    border: 1px solid var(--clr-grey);
    color: var(--clr-black);
    background-color: var(--clr-white);
    outline: none;
    resize: none;
}
.input-box span {
    position: absolute;
    left: 0;
    padding: 5px 10px;
    font-size: var(--fs-f5);
    margin: 12px 0;
    pointer-events: none;
    transition: 0.5s ease;
    color: var(--clr-black);
    letter-spacing: 1px;
    font-weight: 200;
}
.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
    color: var(--clr-white);
    /* font-size: var(--fs-h5); */
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    transform: translateY(-2.5rem);
}

.input-box input[type="submit"] {
    width: 100px;
    background: transparent;
    color: var(--clr-grey);
    border: 1px solid var(--clr-grey);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0 auto;
}
.input-box input[type="submit"]:hover {
    background: var(--clr-grey);
    color: var(--clr-black);
    transition: 0.3s ease;
}
/* Contact Section Styles End Here */

/* footer Styles Start Here */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    background-color: var(--clr-grey);
    width: 100%;
    max-width: 100vw;
}
.footer-column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100px; 
    /* margin-top: .5rem; */
}

.footer-column h3 {
    font-size: var(--fs-h3);
    /* text-transform: uppercase; */
    font-family: 'Lovers Quarrel';
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.footer-column h3::before {
    content: '';
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 45px;
    height: 1px;
    background: #000000;
}

.social-icons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-column i {
    font-size: 3rem;
    padding-right: .8rem;
    /* padding-bottom: .5rem; */
}
/* footer Styles Start Here */

/* Responsive Styles Start Here */
/* Responsive Styles End Here */