/* Global Styles Start Here */
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Poppins:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* font-sizes */
    --fs-h1: 4rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2rem;
    --fs-h4: 1.6rem;
    --fs-h5: 1.4rem;
    --fs-p: 1.5rem;
    /* colors */
    --clr-blue: #354fa2;
    --clr-green: #68be59;
    --clr-brown: #8c5e42;
    --clr-grey: #e0e0dc;
    --clr-grey-tr: #e0e0dcb0;
    --clr-gold: #ebaf20;
    --clr-black: #000000;
    --clr-white: #ffffff;
}

.container {
    min-height: 100vh;
    height: auto;
    width: 100%;
    max-width: 100vw;
}
/* Global Styles End Here */

/* Navbar and Header Styles Start Here */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    height: 6rem;
    align-items: center;
    position: fixed;
    z-index: 8;
    background-color: var(--clr-grey-tr);
}

.navbar ul {
    position: relative;
    display: flex;
    list-style: none;
    font-weight: 200;
    font-size: var(--fs-h5);
}

.navbar ul li a {
    text-decoration: none;
    color: var(--clr-blue);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 1.5rem;
}

.navbar ul li a:hover {
    color: var(--clr-brown);
    transition: 0.3s ease;
}

.logo img {
    width: 125px;
    padding-top: 5px;
}
/* Navbar and Header Styles End Here */

/* Hero Section Styles Start Here */
.hero.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-color: var(--clr-blue);
}

.hero.content .hero-bg {
    position: relative;
    display: flex;
    justify-content: center;
    width: 85%;
    height: 100vh;
    background-image: url(img/beachBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 79, 162, 0.8);
    z-index: 2;
}

.hero-text {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    padding-left: 5rem;
    z-index: 5;
    padding-top: 9rem;
}

.hero-text h1 {
    font-size: 13.5rem;
    letter-spacing: 2px;
    font-weight: 200;
    font-family: 'Lovers Quarrel';
    margin-top: 5rem;
}

.hero-text img {
    position: relative;
    width: 80%;
    padding-left: 1.5rem;
}

.hero-text h2 {
    font-size: var(--fs-h3);
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding-right: 5rem;
}

.hero-text h3 {
    font-size: var(--fs-h4);
    width: 425px;
    margin: 3rem 0;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 2rem;
}

.hero-btns {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-btn {
    width: 180px;
    margin: 1rem 1.25rem;
    background: transparent;
    color: var(--clr-white);
    letter-spacing: 2px;
    padding: 0.9rem 1.4rem;
    border: 2px solid var(--clr-grey);
    text-transform: uppercase;
    /* margin-top: 1rem; */
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--fs-h4);
}

.hero-btn:hover {
    background: var(--clr-grey);
    color: var(--clr-blue);
    transition: 0.3s ease;
    cursor: pointer;
}

.hero-btn-white {
    width: 180px;
    margin: 1rem 1.25rem;
    background: var(--clr-white);
    color: var(--clr-blue);
    letter-spacing: 2px;
    padding: 0.9rem 1.4rem;
    border: 2px solid var(--clr-grey);
    text-transform: uppercase;
    margin-top: 1rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--fs-h4);
}

.hero-btn-white:hover {
    background: var(--clr-grey);
    color: var(--clr-blue);
    transition: 0.3s ease;
    cursor: pointer;
}

.hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 5rem;
    z-index: 5;
}

.hero-img img {
    width: 525px;
    padding-right: 5rem;
} 

#logo-mobile {
    display: none;
}
/* Hero Section Styles End Here */

/* Gallery Section Styles Start Here */
.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--clr-grey);
}

.gallery-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100vh;
    background-image: url(img/iceBGlow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 224, 220, 0.8);
    z-index: 2;
}

.gallery-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--clr-blue);
    z-index: 5;
}

.gallery-title h2 {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 2rem 2rem;
}

.category-boxes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.category-item {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 202px;
    height: 202px; */
    margin: 2rem 1.5rem;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 2px #000000a0; */
    z-index: 5;
}

.category-image {
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    /* border: 1px solid var(--clr-blue); */
}

.category-image img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid var(--clr-blue);
    box-shadow: 1px 1px 1px 2px #000000a0;
    /* object-fit: cover; */
    /* overflow: hidden; */
}

.category-image img:hover {
    filter: grayscale(100%);
    transition: all 0.2s ease;
}

.category-item h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--clr-blue);
    font-size: 2rem;
    margin-top: 1.5rem;
}
/* Gallery Section Styles End Here */

/* About Section Styles Start Here */
.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-green);
}

.about-bg {
    position: relative;
    display: flex;
    justify-content: center;
    width: 85%;
    height: 100vh;
    background-image: url(img/iceBG02Low.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 190, 89, 0.9);
    z-index: 2;
}

.about-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 5;
}

.about-image-box {
    position: relative;
    display: flex;
    justify-content: center;
    /* width: 70%; */
    /* height: 70%; */
}

.about-image-box img {
    width: 325px;
    border-radius: 10px;
    border: 1px solid var(--clr-white);
}

.about-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: var(--clr-white);
    z-index: 5;
    padding-right: 6rem;
}

.about-title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.about-title h2 {
    /* font-size: var(--fs-h2); */
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.about-info p {
    font-size: var(--fs-h4);
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 100;
    padding-right: 3rem;

    margin-top: 1.5rem;
}

.about-lower {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-lower img {
    padding-top: 1.5rem;
}

#about-btn {
    float: right;
    width: 180px;
    margin: 1rem 1.25rem;
    background: transparent;
    color: var(--clr-white);
    letter-spacing: 2px;
    padding: 0.9rem 1.4rem;
    border: 2px solid var(--clr-grey);
    text-transform: uppercase;
    margin-top: 3rem;
    border-radius: 10px;
    margin-right: 4rem;

    font-size: var(--fs-p);
    font-weight: 800;
}

#about-btn:hover {
    background: var(--clr-grey);
    color: var(--clr-blue);
    transition: 0.3s ease;
    cursor: pointer;
}
/* About Section Styles End Here */

/* Testimonials Styles Start Here */
.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey);
}

.testimonials-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100vh;
    background-image: url(img/rockBGLow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 224, 220, 0.8);
    z-index: 2;
}

.testimonials-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--clr-blue);
    z-index: 5;
}

.testimonials-title h2 {
    font-size: 4.8rem;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 1rem 4rem;
    color: var(--clr-blue);

    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
}

  /* //testimonial carousel styles start here// */
.carousel-card {
    position: relative;
    width: 80%;
    /* height: 50%; */
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    /* margin-top: 3rem; */
    margin: 0 auto;
    padding-bottom: 5rem;
    /* margin-top: 2rem; */
    border-radius: 5px;
    z-index: 5;
  }
.swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
}
.testimonial-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.testimonial-card .testimonial-text {
    height: 250px;
    width: 450px;
    background: var(--clr-white);
    padding: 2rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--clr-blue);
    box-shadow: 2px 2px 2px 2px #000000a0;
    text-align: center;
}

.swiper-slide h4 {
    font-size: var(--fs-h3);
    font-weight: 300;
    color: var(--clr-blue);
}

.swiper-slide p {
    font-size: var(--fs-p);
    letter-spacing: 1px;
    margin-top: 1rem;
    font-weight: 100;
    color: var(--clr-blue);
    margin-top: 2.5rem;
}

.fa-quote-left, .fa-quote-right {
    font-size: 1.5rem;
    margin: 0 .5rem;
}
  
.swiper-button-next,
.swiper-button-prev {
    color: var(--clr-blue);
}
  /* //testimonial carousel styles end here// */
/* Testimonials Styles End Here */

/* Contact Section Styles Start Here */
.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh; 
    background-color: var(--clr-brown);
}

.contact-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100vh;
    background-image: url(img/sandBGSm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 94, 66, 0.8);
    z-index: 2;
}

.contact-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: var(--clr-white);
    text-align: center;
    z-index: 5;
}

.contact-title-top {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contact-title-top h2 {
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    /* font-size: var(--fs-h2); */
    font-size: 4.8rem;
    margin: 1rem 2.5rem;
}

.contact-title-info {
    width: 68%;
}

.contact-title-info p {
    font-size: var(--fs-h4);
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 30px;
}

.contact-form {
    z-index: 5;
}

.contact-form form {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.input-box {
    position: relative;
    display: inline-flex;
    width: 37.5%;
    margin: 5px 25px;
}

.input-box input {
    border-radius: 10px;
}

.input-box textarea {
    height: 100px;
    border-radius: 10px;
}

.input-box.message {
    width: 80%;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: var(--fs-p);
    margin: 10px 0;
    border: 1px solid var(--clr-grey);
    color: var(--clr-black);
    background-color: var(--clr-white);
    outline: none;
    resize: none;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 5px 10px;
    /* font-size: var(--fs-f5); */
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
    pointer-events: none;
    transition: 0.5s ease;
    color: var(--clr-brown);
    letter-spacing: 1px;
    font-weight: 600;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
    color: var(--clr-white);
    /* font-size: var(--fs-h5); */
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    transform: translateY(-2.5rem);
}

.input-box input[type="submit"] {
    width: 100px;
    background: transparent;
    color: var(--clr-white);
    border: 2px solid var(--clr-white);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
}

.input-box input[type="submit"]:hover {
    background: var(--clr-grey);
    color: var(--clr-brown);
    transition: 0.3s ease;
}
/* Contact Section Styles End Here */

/* Footer Styles Start Here */
.footer {
    position: absolute;
    bottom: 0;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: var(--clr-grey);
    padding-left: .5%;
    padding-right: .5%;
    z-index: 99;
}

.footer p {
    margin: .25rem 0;
    font-size: var(--fs-h5);
    color: var(--clr-blue);
}

.footer img {
    height: 40px;
}
/* Footer Styles Start Here */

/* Gallery Page Styles Start Here */
.gallery-page-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 85%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 4;
    margin: 0 auto;
    margin-left: 7.5%;
    padding: 0;
    background-color: var(--clr-grey);
    background: url(img/iceBG02Low.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gallery-page-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 224, 220, 0.8);
}

.gallery-page {
    background-color: var(--clr-grey);
}

.gallery-btns {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.gallery-btns.upper {
    padding-top: 9rem;
}

.gallery-btns.lower {
    padding: 1rem 0 3rem 0;
}

.gallery-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--clr-blue);
    width: 200px;
    margin: 0 3rem;
    padding: .8rem 0;
    border: 1px solid var(--clr-blue);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: var(--fs-p);
}

.gallery-btns a.active {
    background-color: var(--clr-blue);
    color: var(--clr-white);
}

.gallery-btns a:hover {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    transition: 0.3s ease;
}

.footer-gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: var(--clr-grey);
    padding-left: 8%;
    padding-right: 8%;
    z-index: 99;
}

.footer-gallery p {
    margin: .25rem 0;
    font-size: var(--fs-h5);
    color: var(--clr-blue);
}

.footer-gallery img {
    height: 40px;
}

.social-media {
    cursor: pointer;
}
/* Gallery Page Styles End Here */

/* LightGallery Below */
.gallery-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    transition: all 0.3s linear;    
}

.gallery-main a {
    height: 200px;
    width: 200px;
    margin: 2rem 3rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 1px #000;
    overflow: hidden;
    z-index: 5;
}

.gallery-main a:hover {
    box-shadow: 0 3px 5px #000;
    transition: 0.2s ease;
}

.gallery-main a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#lg-download {
    display: none;
}

.lg-sub-html {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.lg-sub-html h4 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.lg-sub-html p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* LightGallery Ends */

/* Confirmation Page Styles Start Here */
.thankyou-page-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 85%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 4;
    margin: 0 auto;
    margin-left: 7.5%;
    padding: 0;
    background-color: var(--clr-grey);
    background: url(img/sandBGSm.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thankyou-page-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 94, 66, 0.8);
}

.confirmation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: var(--clr-brown);
    background-color: var(--clr-brown);
}

.confirmation-text {
    border: 1px solid var(--clr-grey);
    background-color: var(--clr-white);
    border-radius: 10px;
    padding: 3rem;
    text-align: center;
    z-index: 4;
    /* width: 50%; */
}

.confirmation-text-inner h3 {
    font-size: 3.25rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.confirmation-text-inner p {
    font-size: var(--fs-p);
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 24px;
}

.confirmation-btn {
    width: 100%;
    margin-top: 2rem;
    /* cursor: pointer; */
}

/* .confirmation-btn:hover {
    background-color: var(--clr-grey);
    transition: 0.3s ease; 
} */

.confirmation-btn a {
    text-decoration: none;
    color: var(--clr-white);
    background-color: var(--clr-brown);
    border: 2px solid var(--clr-brown);
    border-radius: 10px;
    padding: .8rem 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: var(--fs-p);
}

.confirmation-btn a:hover {
    color: var(--clr-brown);
    background-color: var(--clr-grey);
    transition: 0.3s ease;
}
/* Confirmation Page Styles End Here */

/* Responsive Styles Start Here */
@media (max-width: 1199px) {
    #logo-main {
        display: none;
    }
    .gallery-title img,
    .about-lower img,
    .testimonials-title img,
    .contact-title-top img {
        width: 150px;
    }
    .category-boxes {
        flex-wrap: wrap;
    }
    .category-item {
        margin: 1rem 2rem;
    }
    .gallery-btns.upper a,
    .gallery-btns.lower a {
        margin-bottom: 1.5rem;
    }
} 

@media (max-width: 768px) {
    /* responsive nav */
    .header .navbar ul {
        display: none;
    }
    .toggle {
        position: fixed;
        right: 6rem;
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: url(img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .toggle.active {
        position: fixed;
        right: 6rem;
        background: url(img/close.png);
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 99;
    }
    .header .navbar ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #354fa2e0;
        z-index: 10;
    }
    .header .navbar ul.navigation.active li {
        padding: 1.5rem;
        font-size: 2rem;
        letter-spacing: 2px;  
    }
    .header .navbar ul.navigation.active li a {
        padding-left: 0;
        color: var(--clr-white);
    }
    .header .navbar ul.navigation.active li a:hover {
        color: var(--clr-brown);
    }

    /* responsive hero */
    .hero.content .hero-bg {
        flex-direction: column-reverse;
    }
    .hero-text {
        width: 100%;
        padding-left: 0;
    }
    .hero-text h3 {
        line-height: 24px;
        font-size: var(--fs-h5);
        padding-left: 3rem;
        margin: .5rem 0;
    }
    .hero-img {
        flex-direction: column;
        width: 100%;
        padding-left: 4.5rem;
        margin-bottom: -5rem;
    }
    #logo-mobile {
        display: block;
        width: 250px;
        margin-top: 5.5rem;
        margin-bottom: 2rem;
    }
    #map {
        width: 275px;
        margin-bottom:  -3rem;
    }
    .hero-btn,
    .hero-btn-white {
        width: 125px;
        padding: .5rem .7rem;
    }

    /* responsive gallery */
    .gallery-title {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .gallery-title h2 {
        font-size: 3rem;
        margin: 0;
    }
    .category-image img {
        width: 100px;
        height: 100px;
    }

    /* responsive about */
    .about-bg {
        flex-direction: column;
    }
    .about-image, 
    .about-info {
        width: 100%;
    }
    .about-image img {
        height: 200px;
        width: auto;
    }
    .about-info {
        padding-right: 0;
        margin-top: 2rem;
    }
    .about-title h2 {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        padding-left: 0;
        margin-left: 0;
    }
    .about-text {
        padding-left: 4.5rem;
    }
    .about-text p {
        font-size: var(--fs-p);
        line-height: 24px;
        margin-top: .5rem;
    }
    /* .about-lower {
        margin-bottom: 0;
    } */
    .about-lower img {
        width: 125px;
    }
    #about-btn {
        padding: .5rem .7rem;
        
    }

    /* responsive testimonials */
    .testimonials-title {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .testimonials-title h2,
    .contact-title h2 {
        font-size: 3rem;
        margin: 0;
    }
    .carousel-card {
        width: 100%;
    }
    .testimonial-card .testimonial-text {
        width: 375px;
    }

    /* responsive contact */
    .input-box {
        width: 80%;
    }
    .contact-title-top {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    /* responsive lightbox */
    .ib-loading {
        display: none;
    }

}
/* Responsive Styles End Here */




/* lightbox gallery pages styles start here */
/* .gallery-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;
    margin: 0 6rem;
}

.gallery-items img {
    width: 250px;
    margin: 1rem 2rem;
}

.gallery-items img:hover {
    box-shadow: 2px 2px 2px 2px #000000a0;
    transition: 0.2s ease;
}

.gallery-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding-top: 5rem;
}

.category-page-title {
    position: relative;
    display: flex;
}

.category-page-title h2 {
    font-size: var(--fs-h2);
    font-weight: 200;
    padding: 0 1rem;
    border: 1px solid black;
}

.category-page-title .active-category {
    background-color: yellow;
}

.category {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3rem;
}
.category .gallery-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2.25rem 3rem;
    overflow: hidden;
    cursor: zoom;
}
.category .gallery-box .image-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
.category .gallery-box .image-box.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
}
.category .gallery-box .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.category .gallery-box .image-box.active img {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    z-index: 999;
} 
.category .gallery-box .image-box h4 {
    opacity: 0;
    visibility: hidden;
}

.category .gallery-box .image-box.active h4 {
    opacity: 1;
    visibility: visible;
    text-align: center;
    color: var(--clr-white);
    font-size: var(--fs-h4);
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 2px;
}
.category .gallery-box .image-box .box-info {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin-left: -3.1rem;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
    transform: translateY(100%);
    z-index: 1000;
}
.category .gallery-box .image-box.active .box-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s;
}
.category .gallery-box .image-box.active .box-info h3 {
    font-size: var(--fs-h3);
    font-weight: 200;
    letter-spacing: 2px;
}
.category .gallery-box .image-box.active .box-info p {
    font-size: var(--fs-p);
    font-weight: 200;
    letter-spacing: 2px;
} */
/* lightbox gallery pages styles start here */